body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../Watamu-Recipes/image/log-in-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#signupinput{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;

}
